.dropdown-container {
	position: relative;
	cursor: pointer;
	width: 200px;
	height: 40px;

	.list {
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid grey;
		border-radius: 5px;
		width: 200px;
		list-style-type: none;
		padding: 0;
		box-sizing: border-box;
		&::-webkit-scrollbar {
			width: 0;
		}
		-ms-overflow-style: none;
		scrollbar-width: none;
		background-color: white;

		button {
			position: relative;
			background-color: white;
			border: none;
			width: 200px;
			height: 40px;
			padding: 0 10px;
			text-align: left;
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			font-size: 1em;

			svg {
				margin-left: auto;
			}
		}
	}

	.closed-dropdown {
		overflow: hidden;
		height: 40px;
		z-index: 50;
	}

	.opened-dropdown {
		overflow: auto;
		overflow-x: hidden;
		max-height: 225px;
		z-index: 100;

		svg {
			transform: rotate(180deg);
		}
	}

	.option {
		position: relative;
		z-index: 100;
		height: 40px;
		width: 100%;
		padding-left: 10px;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&:hover {
			background-color: #90a057;
			font-weight: 600;
		}
	}
}
