.header {
	padding: 1.5rem 1rem;
	text-align: center;
	box-shadow: 0 -6px 10px 5px rgba(156, 156, 156, 0.5);

	.title {
		font-size: 1.8rem;
		margin: 0 0 1rem 0;
		color: #90a057;
	}

	a {
		text-decoration: underline;
	}
}
